# Data Sciences Tools and Ecosystem

## Author:

Alycia Torres

In this notebook Data Science tools and ecosystem are summarized.

**Objective:**

* List popular languages used in Data Science
* List popular libraries used in Data Science
* List different open source Data Science Tools

Popular languages used in Data Science are:

* Python
* Java/Java Script 
* R
* SQL 
* Julia
* Scala
* C/C++

Commonly used libraries are:

* Pandas
* TensorFlow
* Numpy
* Matplotlib
* Pytorch
* Apache Spark

| Data Science Tools |
| --- | 
| Apache Airflow |
| Apache Nifi |
| Kube Flow |
| Node Red |

### Here are some examples of basic arithmetic functions in Python

(3*4)+5

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

Let's convert minutes into hours.

180 minutes into hours would look like:

180/60

In [7]:
180/60

3.0